.carouselContainer {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  box-sizing: border-box;
  height: 30%;
  max-height: 1000px;
}

.carouselContent {
  display: flex;
  align-items: center;
  align-content: center;
  height: 80%;
}

.carouselButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  z-index: 15;
}

.carouselButton:hover {
  background-color: rgba(255, 255, 255, 1);
}

.carouselButton:focus {
  outline: none;
}

.courseItem {
  flex: 0 0 auto;
  box-sizing: border-box;
  width: 100vw; 
  max-width: 300px; 
  max-height: 300px; 
  margin: 3%;
  border-radius: 10px;
}

.courseLink {
  text-decoration: none;
  color: inherit;
}

.courseLink:hover {
  transform: scale(1.02);
}

.courseImage {
  width: 80%;
  height: auto;
  margin: auto;
  margin-top: 5%;
}

.title {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #14532d;
}

.description {
  font-size: 0.9rem;
  padding: 10px;
  text-align: center;
  color: #4b5563;
}
